tempfiles/*
logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js
*.http
*.org
*.nav
.log

app/**/*.js
test/**/*.js
config/**/*.js
utils/*.js
app/**/*.map
test/**/*.map
config/**/*.map
app/service/wechat/accessToken.txt
app/service/wechat/accessTokenOauth.txt

apidoc/

dump.rdb
